* {
    margin: 0;
}

#info {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    background-image: url(../images/darkness.png);


}

.wrapper {
    background-image: url(../images/darkness.png);
}

/* all info regarding crystal operation all the way thru crystal hover */
.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../images/400px-Crystal_Core_full.jpg);
    margin-bottom: 10px;
}

.crystal {
    border: 1px solid black;
    height: 200px;
    width: 200px;
    background-color: #f7f4e6;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 2s;
}

.crystal:hover {
    box-shadow: 20px 20px 20px rgba(33, 145, 189, 0.5);
    cursor: pointer;
    transition: box-shadow 2s;
}

/* keeps the images at a managable width */
img {
    width: 50px;
}

/* hold all info pertaining to the stats of game */
#gameInfo {
    background-color: #f7fffb;
    border-radius: 4px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 10px;
    padding: 0px;
    width: 300px;
}

#box1 {
    padding: 5px;
    background-image: url(../images/400px-Crystal_Core_full.jpg);
}

#box2 {
    padding: 5px;
    background-image: url(../images/400px-Crystal_Core_full.jpg);
}

/* each stat of the game individually  */
#previous {
    width: 60%;
    padding: 10px;
    color: #f7fffb;
    background-color: #034066;
    font-family: 'Amatic SC', cursive;
}

#win {
    width: 60%;
    padding: 10px;
    color: #f7fffb;
    background-color: #034066;
    font-family: 'Amatic SC', cursive;
}

#loss {
    width: 60%;
    padding: 10px;
    color: #f7fffb;
    background-color: #034066;
    font-family: 'Amatic SC', cursive;
}

#result {
    width: 60%;
    padding: 10px;
    color: #f7fffb;
    background-color: #034066;
    font-family: 'Amatic SC', cursive;
}

#card {
    float: right;
    margin-right: 30px;
    margin-bottom: 20px;
    font-size: 13px;
    font-family: 'Amatic SC', cursive;
}

#footer {
    height: 40px;
    width: 100%;
    padding: 2px;
    margin: 180px 0 0 0;
    color: #f7fffb;
    text-align: center;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    background-color: #e8e8b0;
    background-image: url(../images/400px-Crystal_Core_full.jpg);

}